<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idevlab.LabMgr.Dao.BookDao">

    <select id="countBook" resultType="Integer">
        SELECT count(0)
        FROM book_recode b
                      LEFT JOIN project p ON p.id = b.project
                      LEFT JOIN sys_user u ON u.id = b.applicant
                      LEFT JOIN device d ON d.id = b.device
        WHERE b.status != -1
        <if test="id != null">And b.id= #{id}</if>
        <if test="project != null">And b.project = #{project}</if>
        <if test="device != null">And b.device = #{device}</if>
        <if test="applicant != null">And b.applicant = #{applicant}</if>
        <if test="year != null">And YEAR (b.begin_time) = #{year}</if>
        <if test="time != null"><![CDATA[ And b.begin_time<= #{time} And b.end_time>= #{time} ]]></if>
        <if test="No != null">
                       AND d.No like CONCAT('%','${No}','%')
        </if>
        <if test="name != null">
                       AND d.name like CONCAT('%','${name}','%')
        </if>
        <if test="location != null">
                       AND d.location = #{location}
        </if>
        <if test="model != null">
                       AND d.model like CONCAT('%','${model}','%')
        </if>
        <if test="bands != null">
                       AND d.band like CONCAT('%','${bands}','%')
        </if>
        <if test="func != null">
                       AND d.func like CONCAT('%','${func}','%')
        </if>
        <if test="requireReputation != null">
                       AND d.require_reputation like CONCAT('%','${requireReputation}','%')
        </if>
    </select>

    <select id="countHotDevice" resultType="Integer">
        SELECT
            COUNT(*)
        FROM(
            SELECT device,COUNT(*) TIME 
            FROM book_recode 
            group BY device
            ORDER BY TIME DESC 
            LIMIT 0,4
            ) p
        LEFT JOIN device d ON d.id = p.device
        LEFT JOIN lab l ON d.location = l.id
        where d.status !=-1 And l.status !=-1
    </select>

    <resultMap id="hotMap" type="com.alibaba.fastjson.JSONObject">
        <id column="id" property="id"/>
        <result column="NO" property="NO"/>
        <result column="description" property="description"/>
        <result column="model" property="model"/>
        <result column="name" property="name"/>
        <result column="func" property="func"/>
        <result column="requireReputation" property="requireReputation"/>
        <result column="status" property="status"/>
        <result column="labName" property="labName"/>
        <result column="TIME" property="TIME"/>
    </resultMap>

    <select id="getHotDevice" resultMap="hotMap">
        SELECT
            d.id,
            d.NO,
            d.name,
            d.func,
            d.require_reputation                      requireReputation,
            d.description                             description,
            d.model                                   model,
            d.status,
            l.NAME	labName,
            p.TIME
        FROM(
            SELECT device,COUNT(*) TIME 
            FROM book_recode 
            group BY device
            ORDER BY TIME DESC 
            LIMIT 0,4
            ) p
        LEFT JOIN device d ON d.id = p.device
        LEFT JOIN lab l ON d.location = l.id
        where d.status !=-1 And l.status !=-1
    </select>

    <select id="countBookedTime" resultType="Integer">
        SELECT IFNULL(SUM(TIMESTAMPDIFF(second,begin_time,end_time)),0)
        FROM book_recode
        WHERE status != -1                                         <![CDATA[ And begin_time<= NOW() ]]>
        <if test="id != null">And id= #{id}</if>
        <if test="project != null">And project = #{project}</if>
        <if test="device != null">And device = #{device}</if>
        <if test="applicant != null">And applicant = #{applicant}</if>
        <if test="beginTime != null and endTime != null"><![CDATA[ And begin_time >= #{beginTime} And end_time<= #{endTime} ]]></if>
    </select>



    <select id="countSelectMonthCount" resultType="Integer">
        SELECT
            MONTH (begin_time),
            COUNT(*)
        FROM
            book_recode
        WHERE
            YEAR (begin_time) = #{year}  
        GROUP BY
            MONTH (begin_time)
        WHERE status != -1
        <if test="id != null">And id= #{id}</if>
        <if test="project != null">And project = #{project}</if>
        <if test="device != null">And device = #{device}</if>
        <if test="applicant != null">And applicant = #{applicant}</if>
        <if test="beginTime != null and endTime != null"><![CDATA[ And begin_time >= #{beginTime} And end_time<= #{endTime} ]]></if>
    </select>

    <select id="selectMonthCount" resultType="com.alibaba.fastjson.JSONObject">
        SELECT 
            MONTH(begin_time) month,
            COUNT(*) count,
            <![CDATA[ IFNULL(SUM(TIMESTAMPDIFF(SECOND,if(begin_time<DATE_FORMAT(begin_time ,'%Y-%m-01 00:00:00'),DATE_FORMAT(begin_time ,'%Y-%m-01 00:00:00'),begin_time),if(end_time>DATE_FORMAT(LAST_DAY(begin_time),'%Y-%m-%d 23:59:59'),DATE_FORMAT(LAST_DAY(begin_time),'%Y-%m-%d 23:59:59'),end_time))),0)*100/(sum(mt)/COUNT(mt)) rate ]]>            
        FROM(
            SELECT
                *,(day(LAST_DAY(begin_time))*24*3600) mt
            FROM
                book_recode
             WHERE
                YEAR (begin_time) = #{year}
                <if test="id != null">And id= #{id}</if>
                <if test="project != null">And project = #{project}</if>
                <if test="device != null">And device = #{device}</if>
                <if test="applicant != null">And applicant = #{applicant}</if>
                                        And status != -1
        ) x
    Group BY MONTH(begin_time)
    Order By month
    </select>
    

    <select id="checkTimeFree" resultType="Integer">
        SELECT count(0)
        FROM book_recode
        WHERE status != -1
        <if test="device != null">And device = #{device}</if>
        <![CDATA[ And (end_time >= #{beginTime} And begin_time<= #{endTime} )]]>
    </select>

    <resultMap id="bookMap" type="com.alibaba.fastjson.JSONObject">
        <id column="id" property="id"/>
        <result column="project" property="project"/>
        <result column="projectName" property="projectName"/>
        <result column="device" property="device"/>
        <result column="deviceName" property="deviceName"/>
        <result column="applicant" property="applicant"/>
        <result column="beginTime" property="beginTime"/>
        <result column="endTime" property="endTime"/>
        <result column="createTime" property="createTime"/>
        <result column="updateTime" property="updateTime"/>
        <result column="status" property="status"/>
    </resultMap>

    <select id="listBook" resultMap="bookMap">
                 SELECT
                     b.id                                      id,
                     b.project                                 project,
                     p.name                                    projectName,
                     p.description                             projectDescription,
                     b.device                                  device,
                     d.name                                    deviceName,
                     d.band                                    deviceBand,
                     d.No                                      deviceNo,
                     d.Model                                   deviceModel,
                     d.description                             deviceDescription,
                     b.applicant                               applicant,
                     u.username                                applicantUsername,
                     u.nickname                                applicantNickname,
                     b.status                                  status,
                     DATE_FORMAT(b.begin_time, '%Y/%m/%d %T')  beginTime,
                     DATE_FORMAT(b.end_time, '%Y/%m/%d %T')    endTime,
                     DATE_FORMAT(b.create_time, '%Y/%m/%d %T') createTime,
                     DATE_FORMAT(b.update_time, '%Y/%m/%d %T') updateTime
                 FROM book_recode b
                      LEFT JOIN project p ON p.id = b.project
                      LEFT JOIN sys_user u ON u.id = b.applicant
                      LEFT JOIN device d ON d.id = b.device
                 WHERE b.status != -1
        <if test="id != null">And b.id= #{id}</if>
        <if test="project != null">And b.project = #{project}</if>
        <if test="device != null">And b.device = #{device}</if>
        <if test="applicant != null">And b.applicant = #{applicant}</if>
        <if test="time != null"><![CDATA[ And b.begin_time<= #{time} And b.end_time>= #{time} ]]></if>
        <if test="beginTime != null and endTime != null"><![CDATA[ And b.begin_time <= #{endTime} And b.end_time >= #{beginTime} ]]></if>
        <if test="No != null">
                       AND d.No like CONCAT('%','${No}','%')
        </if>
        <if test="name != null">
                       AND d.name like CONCAT('%','${name}','%')
        </if>
        <if test="location != null">
                       AND d.location = #{location}
        </if>
        <if test="model != null">
                       AND d.model like CONCAT('%','${model}','%')
        </if>
        <if test="bands != null">
                       AND d.band like CONCAT('%','${bands}','%')
        </if>
        <if test="func != null">
                       AND d.func like CONCAT('%','${func}','%')
        </if>
        <if test="requireReputation != null">
                       AND d.require_reputation like #{requireReputation}
        </if>
                 ORDER BY b.begin_time DESC
        <if test="offSet !=null and pageRow != null">LIMIT #{offSet}, #{pageRow} </if>
    </select>

    <insert id="addBook" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO book_recode
        (project, device, begin_time, end_time,applicant,status) VALUES
            (#{project}, #{device}, #{beginTime}, #{endTime},#{applicant},#{status})
    </insert>

    <update id="updateBook">
        UPDATE book_recode
        <set>
            <if test="project != null">project=#{project},</if>
            <if test="device != null">device=#{device},</if>
            <if test="beginTime != null">begin_time=#{beginTime},</if>
            <if test="endTime != null">end_time=#{endTime},</if>
            <if test="applicant != null">applicant=#{applicant},</if>
            <if test="status != null">status=#{status}</if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="deleteBook">
        UPDATE book_recode
        SET status=-1
        WHERE id = #{id}
    </update>

    <update id="useDevice">
        UPDATE book_recode
        <set>
            act_begin_time=Now(),
            <if test="status != null">status=1</if>
        </set>
        WHERE id = #{id}
    </update>
    <update id="finishUseDevice">
        UPDATE book_recode
        <set>
            act_end_time=Now(),
            <if test="status != null">status=4</if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>