<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idevlab.LabMgr.Dao.BookDao">

    <select id="countBook" resultType="Integer">
        SELECT count(0)
        FROM book_recode b
        WHERE status != -1
                       <if test="id != null">And id= #{id}</if>
                       <if test="project != null">And project = #{project}</if>
                       <if test="device != null">And device = #{device}</if>
                       <if test="applicant != null">And applicant = #{applicant}</if>
                       <if test="time != null"> <![CDATA[ And begin_time<= #{time} And end_time>= #{time} ]]></if>
    </select>

    <resultMap id="bookMap" type="com.alibaba.fastjson.JSONObject">
        <id column="id" property="id"/>
        <result column="project" property="project"/>
        <result column="projectName" property="projectName"/>
        <result column="device" property="device"/>
        <result column="deviceName" property="deviceName"/>
        <result column="applicant" property="applicant"/>
        <result column="beginTime" property="beginTime"/>
        <result column="endTime" property="endTime"/>
        <result column="createTime" property="createTime"/>
        <result column="updateTime" property="updateTime"/>
        <result column="status" property="status"/>
    </resultMap>
    <select id="listBook" resultMap="bookMap">
                 SELECT
                     b.id                                      id,
                     b.project                                 project,
                     p.name                                    projectName,
                     p.description                             projectDescription,
                     b.device                                  device,
                     d.name                                    deviceName,
                     d.band                                    deviceBand,
                     d.No                                      deviceNo,
                     d.Model                                   deviceModel,
                     d.description                             deviceDescription,
                     b.applicant                               applicant,
                     u.nickname                                applicantNickname,
                     b.status                                  status,
                     DATE_FORMAT(b.begin_time, '%Y.%m.%d %T')  beginTime,
                     DATE_FORMAT(b.end_time, '%Y.%m.%d %T')    endTime,
                     DATE_FORMAT(b.create_time, '%Y.%m.%d %T') createTime,
                     DATE_FORMAT(b.update_time, '%Y.%m.%d %T') updateTime
                 FROM book_recode b
                      LEFT JOIN project p ON p.id = b.project
                      LEFT JOIN sys_user u ON u.id = b.applicant
                      LEFT JOIN device d ON d.id = b.device
                 WHERE b.status != -1
                       <if test="id != null">And b.id= #{id}</if>
                       <if test="project != null">And b.project = #{project}</if>
                       <if test="device != null">And b.device = #{device}</if>
                       <if test="applicant != null">And b.applicant = #{applicant}</if>
                       <if test="time != null"> <![CDATA[ And b.begin_time<= #{time} And b.end_time>= #{time} ]]></if>
                 ORDER BY b.id
                 LIMIT #{offSet}, #{pageRow}
    </select>

    <insert id="addBook" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO book_recode
        (project, device, begin_time, end_time,applicant,status) VALUES
            (#{project}, #{device}, #{beginTime}, #{endTime},#{applicant},#{status})
    </insert>

    <update id="updateBook">
        UPDATE book_recode
         <set>
            <if test="project != null">project=#{project},</if>
            <if test="device != null">device=#{device},</if>
            <if test="beginTime != null">begin_time=#{beginTime},</if>
            <if test="endTime != null">end_time=#{endTime},</if>
            <if test="applicant != null">applicant=#{applicant},</if>
            <if test="status != null">status=#{status}</if>
        </set>
        WHERE id = #{id}
    </update>

     <update id="deleteBook">
        UPDATE book_recode
        SET
        status=-1
        WHERE id = #{id}
    </update>
</mapper>