<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idevlab.LabMgr.Dao.DeviceDao">

    <select id="countDevice" resultType="Integer">
        SELECT count(0)
        FROM device d
              LEFT JOIN lab l ON d.location = l.id
        WHERE d.status != -1
        <if test="id != null">And d.id= #{id}</if>
        <if test="No != null">
                       AND d.No like #{No}
        </if>
        <if test="name != null">
                       AND d.name like #{name}
        </if>
        <if test="location != null">
                       AND d.location = #{location}
        </if>
        <if test="model != null">
                       AND d.model like #{model}
        </if>
        <if test="function != null">
                       AND d.func like #{func}
        </if>
        <if test="requireReputation != null">
                       AND d.require_reputation like #{requireReputation}
        </if>
        <if test="bands != null">
                       AND d.band like #{bands}
        </if>
        <if test="status != null and status !=-1">
                       AND d.status = #{status}
        </if>
    </select>

    <resultMap id="deviceUseRateMap" type="com.alibaba.fastjson.JSONObject">
        <id column="id" property="id"/>
        <result column="rate" property="rate"/>
    </resultMap>
    <select id="listDeviceUseRate" resultMap="deviceUseRateMap">
        SELECT b.device id,d.name name, IFNULL(SUM(TIMESTAMPDIFF(SECOND,b.begin_time,b.end_time)),0)*100/
        <if test="beginTime == null or endTime == null">SUM(TIMESTAMPDIFF(second,d.create_time,NOW()))</if>
        <if test="beginTime != null and endTime != null">greatest(SUM(TIMESTAMPDIFF(second,greatest(d.create_time,#{beginTime}),LEAST(NOW(),#{endTime}))),0.001)</if>
             AS rate
        FROM book_recode b
        		RIGHT JOIN device d ON d.id=b.device
        WHERE b.status != -1           <![CDATA[ And begin_time<= NOW() ]]> 
        group BY b.device
        ORDER BY rate DESC
        <if test="offSet != null and pageRow != null">LIMIT #{offSet}, #{pageRow}</if>
    </select>

    <select id="countDeviceTime" resultType="Integer">
        SELECT 
        <if test="beginTime == null or endTime == null">SUM(TIMESTAMPDIFF(second,d.create_time,NOW()))</if>
        <if test="beginTime != null and endTime != null">greatest(SUM(TIMESTAMPDIFF(second,greatest(d.create_time,#{beginTime}),LEAST(NOW(),#{endTime} ))),0)</if>          
        FROM device d
         WHERE d.status != -1
        <if test="id != null">And d.id= #{id}</if>
        <if test="No != null">
                       AND d.No like #{No}
        </if>
        <if test="name != null">
                       AND d.name like #{name}
        </if>
        <if test="location != null">
                       AND d.location = #{location}
        </if>
        <if test="model != null">
                       AND d.model like #{model}
        </if>
        <if test="bands != null">
                       AND d.band like #{bands}
        </if>
        <if test="status != null and status !=-1">
                       AND d.status = #{status}
        </if>
    </select>

    <resultMap id="deviceMap" type="com.alibaba.fastjson.JSONObject">
        <id column="id" property="id"/>
        <result column="No" property="No"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="model" property="model"/>
        <result column="bands" property="bands"/>
        <result column="location" property="location"/>
        <result column="locationName" property="locationName"/>
        <result column="locationDescription" property="locationDescription"/>
        <result column="locationAddress" property="locationAddress"/>
        <result column="func" property="func"/>
        <result column="requireReputation" property="requireReputation"/>
        <result column="createTime" property="createTime"/>
        <result column="updateTime" property="updateTime"/>
        <result column="status" property="status"/>
    </resultMap>
    <select id="listDevice" resultMap="deviceMap">
                 SELECT
                     d.id                                      id,
                     d.No                                      No,
                     d.name                                    name,
                     d.func                                    func,
                     d.require_reputation                      requireReputation,
                     d.description                             description,
                     d.location                                location,
                     l.name                                    locationName,
                     l.description                             locationDescription,
                     l.location                                locationAddress,
                     d.band                                    bands,
                     d.model                                   model,
                     d.status                                  status,
                     DATE_FORMAT(d.create_time, '%Y/%m/%d %T') createTime,
                     DATE_FORMAT(d.update_time, '%Y/%m/%d %T') updateTime
                 FROM device d
                      LEFT JOIN lab l ON d.location = l.id
                 WHERE d.status != -1 And l.status != -1
        <if test="id != null">And d.id= #{id}</if>
        <if test="No != null">
                       AND d.No like #{No}
        </if>
        <if test="name != null">
                       AND d.name like #{name}
        </if>
        <if test="location != null">
                       AND d.location = #{location}
        </if>
        <if test="model != null">
                       AND d.model like #{model}
        </if>
        <if test="bands != null">
                       AND d.band like #{bands}
        </if>
        <if test="func != null">
                       AND d.func like #{func}
        </if>
        <if test="requireReputation != null">
                       AND d.require_reputation like #{requireReputation}
        </if>
        <if test="status != null and status !=-1">
                       AND d.status = #{status}
        </if>
                 ORDER BY d.id
                 LIMIT #{offSet}, #{pageRow}
    </select>
    <select id="listRecomendDevice" resultMap="deviceMap">
    SELECT *
    FROM device d
        JOIN ((
                SELECT 
                    b.device id, 
                    IFNULL(SUM(TIMESTAMPDIFF(SECOND,b.begin_time,b.end_time)),0)*100/ SUM(TIMESTAMPDIFF(SECOND,d.create_time, NOW())) AS rate
                FROM book_recode b
                    RIGHT JOIN device d ON d.id=b.device
                WHERE b.STATUS != -1
                GROUP BY b.device) UNION
            (
                SELECT 
                    d.id, 
                    0 AS rate
                FROM device d
                WHERE d.id NOT IN (
                SELECT device
                FROM book_recode
                WHERE STATUS !=-1)
            )) x ON x.id = d.id
    WHERE d.id NOT IN (
                    SELECT d.id
                    FROM device d
                    JOIN book_recode b ON d.id=b.device
        <where>
            <if test="beginTime != null and endTime != null"><![CDATA[ (b.begin_time<= #{endTime} And b.end_time>= #{beginTime} )Or #{beginTime} < b.create_time]]></if>
        </where>
                        )
    ORDER BY rate,require_reputation
    LIMIT #{offSet}, #{pageRow}
    </select>

    <insert id="addDevice" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO device
        (No, name, description, model,band,location,require_reputation,func,status) VALUES
            (#{No}, #{name}, #{description}, #{model},#{band},#{location},#{requireReputation},#{func},#{status})
    </insert>

    <update id="updateDevice">
        UPDATE device
        <set>
            <if test="name != null">name=#{name},</if>
            <if test="No != null">No=#{No},</if>
            <if test="description != null">description=#{description},</if>
            <if test="model != null">model=#{model},</if>
            <if test="bands != null">`band`=#{bands},</if>
            <if test="location != null">location=#{location},</if>
            <if test="func != null">func = #{func},</if>
            <if test="requireReputation != null">require_reputation = #{requireReputation},</if>
            <if test="status != null">status=#{status}</if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="deleteDevice">
        UPDATE device
        SET status=-1
        WHERE id = #{id}
    </update>
</mapper>