<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idevlab.LabMgr.Dao.DeviceDao">

    <select id="countDevice" resultType="Integer">
        SELECT count(0)
        FROM device d
              LEFT JOIN lab l ON d.location = l.id
        WHERE d.status != -1
        <if test="id != null">And d.id= #{id}</if>
        <if test="No != null">
                       AND d.No like #{No}
        </if>
        <if test="name != null">
                       AND d.name like #{name}
        </if>
        <if test="location != null">
                       AND d.location = #{location}
        </if>
        <if test="model != null">
                       AND d.model like #{model}
        </if>
        <if test="bands != null">
                       AND d.band like #{bands}
        </if>
    </select>

    <resultMap id="deviceMap" type="com.alibaba.fastjson.JSONObject">
        <id column="id" property="id"/>
        <result column="No" property="No"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="model" property="model"/>
        <result column="band" property="band"/>
        <result column="location" property="location"/>
        <result column="locationName" property="locationName"/>
        <result column="locationDescription" property="locationDescription"/>
        <result column="locationAddress" property="locationAddress"/>
        <result column="createTime" property="createTime"/>
        <result column="updateTime" property="updateTime"/>
        <result column="status" property="status"/>
    </resultMap>
    <select id="listDevice" resultMap="deviceMap">
                 SELECT
                     d.id                                      id,
                     d.No                                      No,
                     d.name                                    name,
                     d.description                             description,
                     d.location                                location,
                     l.name                                    locationName,
                     l.description                             locationDescription,
                     l.location                                locationAddress,
                     d.band                                    band,
                     d.model                                   model,
                     d.status                                  status,
                     DATE_FORMAT(d.create_time, '%Y.%m.%d %T') createTime,
                     DATE_FORMAT(d.update_time, '%Y.%m.%d %T') updateTime
                 FROM device d
                      LEFT JOIN lab l ON d.location = l.id
                 WHERE d.status != -1 And l.status != -1
        <if test="id != null">And d.id= #{id}</if>
        <if test="No != null">
                       AND d.No like #{No}
        </if>
        <if test="name != null">
                       AND d.name like #{name}
        </if>
        <if test="location != null">
                       AND d.location = #{location}
        </if>
        <if test="model != null">
                       AND d.model like #{model}
        </if>
        <if test="bands != null">
                       AND d.band like #{bands}
        </if>
                 ORDER BY d.id
                 LIMIT #{offSet}, #{pageRow}
    </select>

    <insert id="addDevice" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO device
        (No, name, description, model,band,location,status) VALUES
            (#{No}, #{name}, #{description}, #{model},#{band},#{location},#{status})
    </insert>

    <update id="updateDevice">
        UPDATE device
        <set>
            <if test="name != null">name=#{name},</if>
            <if test="No != null">No=#{No},</if>
            <if test="description != null">description=#{description},</if>
            <if test="model != null">model=#{model}</if>
            <if test="band!= null">band=#{band},</if>
            <if test="location != null">location=#{location},</if>
            <if test="status != null">status=#{status}</if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="deleteDevice">
        UPDATE device
        SET status=-1
        WHERE id = #{id}
    </update>
</mapper>