<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idevlab.LabMgr.Dao.HyperSearchDao">

    <select id="countHyperSearch" resultType="Integer">
	SELECT SUM(counts) FROM(
        SELECT sum(tmpcount) as counts
FROM
(
SELECT 
	 		count(*) as tmpcount
FROM lab
WHERE NAME LIKE CONCAT('%','${search}','%') And status != -1  UNION 

SELECT 
	 		count(*) as tmpcount
FROM device
WHERE NAME LIKE CONCAT('%','${search}','%') And status != -1 UNION

SELECT 
	 		count(*) as tmpcount
FROM `group`
WHERE NAME LIKE CONCAT('%','${search}','%') And status != -1 
UNION

SELECT 
	 		count(*) as tmpcount
FROM `sys_user`
WHERE nickname LIKE CONCAT('%','${search}','%') And status != -1 UNION

SELECT 
	 		count(*) as tmpcount
FROM `book_recode` b
		LEFT JOIN device d on d.id=b.device
		LEFT JOIN project p ON p.id=b.project
WHERE d.name LIKE CONCAT('%','${search}','%') OR p.NAME LIKE CONCAT('%','${search}','%') And d.status != -1 And b.status != -1 And p.status != -1 UNION

SELECT 
	 		count(*) as tmpcount
FROM `project`
WHERE NAME LIKE CONCAT('%','${search}','%') And status != -1 UNION

SELECT 
	 		count(*) as tmpcount
FROM `department`
WHERE NAME LIKE CONCAT('%','${search}','%') And status != -1) p) x
    </select>

    <resultMap id="hyperSearchMap" type="com.alibaba.fastjson.JSONObject">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="type" property="type"/>
    </resultMap>
    <select id="hyperSearch" resultMap="hyperSearchMap">
                SELECT *
FROM
(
SELECT 
	 		NAME,
			id,
			description,
			'lab' TYPE
FROM lab
WHERE NAME LIKE CONCAT('%','${search}','%') And status != -1) l UNION 
(
SELECT 
	 		NAME,
			id,
			description,
			'device' TYPE
FROM device
WHERE NAME LIKE CONCAT('%','${search}','%') And status != -1) UNION
(
SELECT 
	 		NAME,
			id,
			description,
			'group' TYPE
FROM `group`
WHERE NAME LIKE CONCAT('%','${search}','%') And status != -1) 
UNION
(
SELECT 
	 		username NAME,
			id,
			nickname description,
			'user' TYPE
FROM `sys_user`
WHERE nickname LIKE CONCAT('%','${search}','%') And status != -1) UNION
(
SELECT 
	 		d.name NAME,
			b.id,
			p.name description,
			'book' TYPE
FROM `book_recode` b
		LEFT JOIN device d on d.id=b.device
		LEFT JOIN project p ON p.id=b.project
WHERE d.name LIKE CONCAT('%','${search}','%') OR p.NAME LIKE CONCAT('%','${search}','%') And d.status != -1 And b.status != -1 And p.status != -1) UNION
(
SELECT 
	 		NAME,
			id,
			description,
			'project' TYPE
FROM `project`
WHERE NAME LIKE CONCAT('%','${search}','%') And status != -1) UNION
(
SELECT 
	 		NAME,
			id,
			description,
			'department' TYPE
FROM `department`
WHERE NAME LIKE CONCAT('%','${search}','%') And status != -1) 
ORDER BY type DESC
LIMIT #{offSet}, #{pageRow}
    </select>
</mapper>