<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idevlab.LabMgr.Dao.ProjectDao">

    <select id="countProject" resultType="Integer">
        SELECT count(0)
        FROM project b
        WHERE b.status = '1'
    </select>

    <resultMap id="projectMap" type="com.alibaba.fastjson.JSONObject">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="beginTime" property="beginTime"/>
        <result column="endTime" property="endTime"/>
        <result column="createTime" property="createTime"/>
        <result column="updateTime" property="updateTime"/>
        <result column="status" property="status"/>
    </resultMap>
    <select id="listProject" resultMap="projectMap">
                 SELECT
                     id                                      id,
                     name                                    name,
                     description                             description,
                     DATE_FORMAT(begin_time, '%Y.%m.%d %T')  beginTime,
                     DATE_FORMAT(end_time, '%Y.%m.%d %T')    endTime,                  
                     status                                  status,
                     DATE_FORMAT(create_time, '%Y.%m.%d %T') createTime,
                     DATE_FORMAT(update_time, '%Y.%m.%d %T') updateTime
                 FROM project
                 WHERE status != -1
                       <if test="id != null">And id= #{id}</if>
                       <if test="name != null">And name like #{name}</if>
                       <if test="time != null"><![CDATA[And #{time}>= begin_time And #{time}<= end_time]]></if>
                 ORDER BY id
                 LIMIT #{offSet}, #{pageRow}
    </select>


   <select id="countProjectGroup" resultType="Integer">
        SELECT count(0)
        FROM project u
             LEFT JOIN group_project ug ON ug.project = u.id
             LEFT JOIN `group` g ON g.id = ug.`group`
        WHERE u.status != -1 And g.status != -1 And ug.status != -1
    </select>
    <select id="listProjectGroup" resultType="com.alibaba.fastjson.JSONObject">
                 SELECT
                     u.id                                      id,
                     u.name                                    name,
                     g.name                                    groupName,                 
                     u.status                                  status
                     FROM project u
                          LEFT JOIN group_project ug ON ug.project = u.id
                          LEFT JOIN `group` g ON g.id = ug.`group`
                 WHERE u.status != -1 And g.status != -1 And ug.status != -1
                       <if test="id != null">And u.id= #{id}</if>
                 ORDER BY u.id
                 LIMIT #{offSet}, #{pageRow}
    </select>

    <insert id="addProject" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO project
        (name, description,begin_time,end_time,status) VALUES
            (#{name}, #{description}, #{beginTime}, #{endTime},#{status})
    </insert>

    <update id="updateProject">
        UPDATE project
        <set>
            <if test="name != null">name=#{name},</if>
            <if test="description != null">description=#{description},</if>
            <if test="beginTime != null">begin_time=#{beginTime},</if>
            <if test="endTime != null">end_time=#{endTime},</if>
            <if test="status != null">status=#{status}</if>
        </set>
        WHERE id = #{id}
    </update>

     <update id="deleteProject">
        UPDATE project
        SET
        status=-1
        WHERE id = #{id}
    </update>
</mapper>